# Core Libraries
numpy
opencv-python
requests

# Face Recognition
insightface
onnxruntime

# Database Connection
SQLAlchemy
psycopg2-binary
python-dotenv

# Windows Integration
pywin32

# Logging
logging
threading